<h1>詳細ページ</h1>

    品名： <%= @souvenirs.name %><br/>
    都道府県名： <%= @souvenirs.prefectures %><br/>
    コメント： <%= @souvenirs.comment %><br/>
    画像： <%= image_tag@souvenirs.image_name.url if@souvenirs.image_name? %><br/>
    投稿者： <%= @souvenirs.user.name %><br/>
    <%= link_to "編集",sou_edit_path, class:"btn btn-primary" %>