



<div class = "col-xs-10">
    <% @prefectures.pluck(:region_id).uniq.each do |pre|%>
        <% if pre == 1 %>
        <h3><%= "北海道・東北地方" %></h3><br/>
        <% elsif pre == 2 %>
        <h3><%= "関東地方" %></h3><br/>
        <% elsif pre == 3 %>
        <h3><%= "中部地方" %></h3><br/>
        <% elsif pre == 4 %>
        <h3><%= "近畿地方" %></h3><br/>
        <% elsif pre == 5 %>
        <h3><%= "中国地方" %></h3><br/>
        <% elsif pre == 6 %>
        <h3><%= "四国地方" %></h3><br/>
        <% elsif pre == 7 %>
        <h3><%= "九州地方" %></h3><br/>
        <% end %>
    <% end %>
</div>
