<header class="header-style bg-primary">
    <div class= "row">
      <div class="d-flex text-left ">
      <% if current_user %>
        <%= link_to"トップページ", root_path %>
        <%= link_to"新規投稿", new_path %>
        <%= link_to User.find(current_user.id).name, users_index_path %>
        <%= link_to"ユーザー情報", users_show_path(current_user.id) %>
        <%= link_to"ログアウト", logout_path, method: :delete %>
      <% else %>
        <%= link_to"ログイン", sessions_path %>
        <%= link_to"ユーザー登録", users_new_path %>
      <% end %>
      </div>
    </div>
</header>