<!DOCTYPE html>
  <html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    
    <title>全国お土産検索サイト</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class= " container"  >
    <%= render 'layouts/header' %>
    </div>
      
      <div class="text-center">
      <img src="/assets/kurashiki.png" width="290" height="200" alt="">
      <img src="/assets/denim.png" width="290" height="200" alt="">
      <img src="/assets/mask.png" width="290" height="200" alt="">
      <img src="/assets/kasa.png" width="290" height="200" alt="">
      </div>
      <div class= "text-center ">
      <h1>全国お土産検索</h1>
      </div>
    <div class= "container">
    <%= render 'layouts/message' %>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class=" container">
    <%= yield %>
    </div>
    
  </body>
</html>
