<!DOCTYPE html>
  <html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <title>全国お土産検索サイト</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    <div class= "row">
      <div class="col-2 text-left ">
        <%= link_to"トップページ", root_path %>
        <%= link_to"新規投稿", new_path %>
      </div>
      
      <div class="col-2 text-left">
        <%= link_to"ユーザー一覧", users_index_path %>
        <%= link_to"ユーザー登録", users_new_path %>
        <%= link_to"Log in", sessions_path %>
      </div>
    </div>


    </header>
    <% if flash[:notice] %>
      <div class = "flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="container">
    <%= yield %>
    </div>
    
  </body>
</html>
